.counterSection{
    margin-top: 48px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.item{
    width: 264px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
    margin-bottom: 75px;
}
.img{
    border-radius: 5px;
}
.info{
    padding: 24px 0 46px 24px;
}

.countriesPage{
    margin-top: 180px;
}

.backLink{
    width: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #111517;
}

.card{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.cardImgBox{
    width: 560px;
    margin-right: 120px;
}
.cardContentBox{
    width: 598px;
}

.cardTitle{
    margin: 0;
    margin-bottom: 23px;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #111517;
}

.countriesData{
    width: 598px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.cardText{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #111517;
}

.borders{
    width: 100%;
    max-width: 451px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bordersTitle{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #111517;
}

.bordersList{
    width: 308px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bordersItem{
    padding: 4px 14px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
}

.bordersCounter{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #111517;
}